body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#ffd6e8;
  overflow:hidden;
}

.page{
  display:none;
  min-height:100vh;
  padding:20px;
  text-align:center;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.page.active{
  display:flex;
}

h1,h2,p{
  color:#ff4f87;
}

.video-page{
  position:relative;
}

.bg-video{
  position:fixed;
  inset:0;
  width:100%;
  height:100%;
  object-fit:cover;
  filter:blur(8px);
  opacity:0.25;
  z-index:-1;
}

.letter{
  background:white;
  padding:20px;
  border-radius:18px;
  max-width:340px;
  white-space:pre-line;
  box-shadow:0 12px 30px rgba(0,0,0,0.25);
}

.long{
  font-size:14px;
}

.photo{
  width:85%;
  max-width:320px;
  border-radius:20px;
}

.voice{
  background:white;
  padding:25px;
  border-radius:20px;
}

#next{
  position:fixed;
  bottom:20px;
  right:20px;
  padding:10px 18px;
  border:none;
  border-radius:20px;
  background:#ff4f87;
  color:white;
}
